<a href="https://colab.research.google.com/github/FazilShah/Machine-Learning/blob/master/Feed_Forward_Prediction_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.ExcelFile('ex3d1.xlsx')
X = pd.read_excel(data, 'X', header= None)
theta1 = pd.read_excel(data, 'theta1', header = None)
theta2 = pd.read_excel(data, 'theta2', header = None)

In [ ]:
X.insert(0,'',1)

In [ ]:
XT = X.transpose()
XTT = np.asarray(XT)

In [ ]:
theta11 = np.asarray(theta1)
theta21 = np.asarray(theta2)

In [ ]:
def predict(X, theta1, theta2):
  a1 = np.asarray(X)
  z2 = np.matmul(a1, np.transpose(np.asarray(theta1)))
  a2 = h(z2)
  xxx = np.insert(a2,0,1, axis =1)
  z3 = np.matmul(xxx, np.transpose(np.asarray(theta2)))
  a3 = h(z3)
  return a3

In [ ]:
result = predict(X, theta1, theta2)

In [ ]:
rrrr = np.where(np.max(result, axis = 1))

In [ ]:
rt = pd.DataFrame(result)

In [ ]:
rt

             0         1         2  ...         7         8         9
0     0.000113  0.001741  0.002527  ...  0.000401  0.006481  0.995734
1     0.000479  0.002415  0.003448  ...  0.002391  0.001970  0.995697
2     0.000089  0.003243  0.025542  ...  0.062289  0.005498  0.928008
3     0.000056  0.008049  0.017830  ...  0.004693  0.000821  0.994104
4     0.000106  0.001515  0.003806  ...  0.001436  0.002096  0.992762
...        ...       ...       ...  ...       ...       ...       ...
4995  0.001972  0.000191  0.000593  ...  0.002355  0.954588  0.000166
4996  0.000048  0.001810  0.000023  ...  0.030702  0.971134  0.006388
4997  0.051764  0.003817  0.029630  ...  0.002157  0.649827  0.000024
4998  0.000831  0.000622  0.000315  ...  0.011937  0.971410  0.000206
4999  0.000048  0.000459  0.000022  ...  0.005734  0.696289  0.081858

[5000 rows x 10 columns]

In [ ]:
def h(z):
  return 1/(1+np.exp(-z))